.body {
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
	line-height: 24px;

}
.page { 
margin: 0 auto;
padding: 70px;
width: 1063px;
}


.nav__menu-ul {
	list-style: none;
	text-transform: uppercase;
	padding: 0;
	text-align: right;
	
}

.nav__menu-ul__item {
	display: inline-block;
	margin: 0 106px 0 0;
}


.nav__menu-ul__item:last-child {
	margin: 0;
}

.link {
color: #626262;
text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.logo {
	background: url(../images/minim%C3%B8.png);
	width: 119px;
	height: 23px;
	float:left;
}

.img {
	margin-top: 57px;
}

.content {
	padding: 80px 0;
}

.content__blog {
	width: 659px;
	margin: 0 0 20px 0;
}

.content__sidebar {
	float: right;
    width: 279px;
}

.content__sidebar-aboutme {
	color: #626262;
	font: 400 12px / 20px PlayfairDisplay;
}

.content__sidebar-topposts {
	margin:  20px 0 0 0;
}

.content__sidebar-topposts__post {
	color: #626262;
	font: 400 16px PlayfairDisplay;
	margin: 10px 0 0 0;
}

.content__share {
	text-align: center;
}


.share {
}

.share-item {
	list-style: none;
	height: 17px;
    margin: 0 20px 0 0;
	display: inline-block;
	padding: 0;
    
}

.share-item .fb {
	height: 17px;
	width: 9px;
	background: url(../images/fb.png) no-repeat;
}

.share-item .inst {
	height: 17px;
	width: 18px;
	background: url(../images/instagram.png) no-repeat;
}

.share-item .pin {
	height: 17px;
	width: 18px;
	background: url(../images/pinterest.png) no-repeat;
}

.share-item .twitter {
	height: 17px;
	width: 18px;
	background: url(../images/tw.png) no-repeat;
	
}
.share-item .google {
	height: 17px;
	width: 18px;
	background: url(../images/g+.png) no-repeat;
}

.share-item .tumblr {
	height: 17px;
	width: 11px;
	background: url(../images/tumblr.png) no-repeat;
}

.text-ubuntu {
	color: #b4ad9e;
	font: 300 14px Ubuntu;
	display: inline-block;
}

.quote {
	font-style: italic;
	margin: 54px 20px 33px;
}

.footer {
	background-color: #d9d9d9;
	width: 99.9%;
	height: 97px;
	color: #000000;
	font: 400 14px / 24px PlayfairDisplay;
	
}

.footer__nav {
	margin: 24px;
	display: inline-block;
	
}

.footer__nav-item {
	
	display: inline-block;
	list-style: none;
	margin: 0 17px 0 0;
}

.footer__follow {
	padding:37px 0;
	float: right;
	display: block;
}

.footer__follow-item {
	display: inline-block;
	list-style: none;
	margin: 0 24px 0 0;
}


.footer__follow-item .fb {
	background: url(../images/facebook.png) no-repeat;
	height: 14px;
	width: 8px;
}

.footer__follow-item .twitter {
	background: url(../images/twitter.png) no-repeat;
	height: 13px;
	width: 18px;
}

.footer__follow-item .inst {
	background: url(../images/inst.png) no-repeat;
	height: 15px;
	width: 15px;
}

